﻿@model EmployeeViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(l => l.Name, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(l => l.Surname, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
    </div>
    <div class="form-group ">
        <label>@Html.LabelFor(l => l.Position)</label>
        @Html.EditorFor(e => e.Position, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Save" />
        @Html.ActionLink("Home page", "Index", null, new { @class = "btn btn-default" })
    </div>
}


