﻿@model IEnumerable<EmployeeViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>All Employees</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <thead>
            <tr>
                <th class="text-right">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Surname</th>
                <th class="text-center">Position</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.Id</td>
                    <td class= "text-center">@Html.ActionLink(item.Name, "Edit", new { item.Id })</td>
                    <td class="text-center">@item.Surname</td>
                    <td class="text-center">@item.Position</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Home"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", item.Id)
                            <input type="submit"
                                   class="btn btn-danger btn-xs"
                                   name="@item.Id"
                                   value="Remove" />
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Create new employee", "Create", null,
            new { @class = "btn btn-default" })
    </div>
</div>


